#loginForm {
  padding: 2%;
  border-radius: 25px;
  border: solid black 2px;
  font-size: 24px;
  box-shadow: 10px 10px 5px grey;
}

#loginBtn {
  border-radius: 25px;
  border: black solid 2px;
}

@media screen and (max-width: 768px) {
  #loginForm {
    margin: 10% 2% 0 2%;
  }
}
