#map {
  position: absolute;
  margin-left: 25%;
  width: 50%;
  height: 50%;
  padding: 0 !important;
}

#checkInBtn {
  margin-left: 25%;
  position: relative;
  border: solid rgb(52, 58, 64) 3px;
}
